swagger: '2.0'
info:
  title: Shifter API
  description: Shifter API allows you to operate all Shifter resources, which are projects, archives, App, Generator.
  version: "0.1.0"
host: api.getshifter.io
schemes:
  - https
basePath: /production
produces:
  - application/json
paths:
  /login:
    post:
      description: You can get accesstoken to access shifter resources.
      tags:
        - login
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoginPostRequest'
      responses:
        200:
          description: Login success
          schema:
            "$ref": "#/definitions/LoginPostResponse"
        400:
          description: Invalid Username or Password
          schema:
            "$ref": "#/definitions/LoginErrorResponse"
          examples:
            application/json:
              message: Invalid Username or Password
  /projects:
    get:
      description: You can get the infomation of your projects
      tags:
        - projects
      responses:
        200:
          description: the info of your projects
          schema:
            type: array
            items:
              "$ref": "#/definitions/ProjectsGetResponse"
    post:
      description: Create new project
      tags:
        - projects
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectsPostRequest'
        - name: archive_id
          in: query
          required: true
          description: Specify an archive to create a project
          type: string
      responses:
        200:
          description: Success
  /projects/{site_id}:
    delete:
      description: Delete your project
      tags:
        - projects
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
      responses:
        200:
          description: Success
    get:
      description: Get Project status
      tags:
        - projects
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
      responses:
        200:
          description: Project status response
          schema:
            type: array
            items:
              "$ref": "#/definitions/ProjectsSingleGetResponse"
  /projects/{site_id}/cloudfront:
    get:
      description: Get CloudFront Status (for Shifter CDN)
      tags:
        - projects
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
      responses:
        200:
          description: Project CloudFront status response
          schema:
            type: array
            items:
              "$ref": "#/definitions/ProjectsCloudFrontGetResponse"
  /projects/{site_id}/artifacts:
    get:
      description: List generated Artifacts.
      tags:
        - artifacts
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
      responses:
        200:
          description: Artifact status response
          schema:
            "$ref": "#/definitions/ArtifactListResponse"
    post:
      description: generate Artifact.
      tags:
        - artifacts
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
      responses:
        201:
          description: Artifact generate result response
          schema:
            "$ref": "#/definitions/ArtifactCreateResponse"
  /projects/{site_id}/artifacts/{artifact_id}:
    delete:
      description: Delete Artifacts.
      tags:
        - artifacts
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
        - name: artifact_id
          in: path
          required: true
          description: Artifact ID
          type: string
      responses:
        201:
          description: Artifact delete result response
          schema:
            "$ref": "#/definitions/ArtifactDeleteResponse"
  /projects/{site_id}/artifacts/{artifact_id}/deploy/{deploy_type}:
    post:
      description: Deploy generated Artifacts.
      tags:
        - artifacts
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
        - name: artifact_id
          in: path
          required: true
          description: Artifact ID
          type: string
        - name: deploy_type
          in: path
          required: true
          description: Deployment Type (netlify or shifter_cdn)
          type: string
      responses:
        201:
          description: Artifact deploy result response
          schema:
            "$ref": "#/definitions/ArtifactDeployResponse"
  /projects/{site_id}/artifacts/{artifact_id}/artifactname:
    put:
      description: update your artifact name.
      tags:
        - artifacts
      parameters:
        - name: site_id
          in: path
          required: true
          description: project ID
          type: string
        - name: artifact_id
          in: path
          required: true
          description: artifact ID
          type: string
      responses:
        201:
          description: update successfully
  /containers/{site_id}:
    get:
      description: You can the status of App
      tags:
        - containers
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
        - name: notification_id
          in: query
          required: true
          description: ID required to acquire App state
          type: string
      responses:
        200:
          description: the status of App
          schema:
            type: string
    post:
      description: Import archive to App
      tags:
        - containers
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContainersPostRequest'
      responses:
        200:
          description: Success
    put:
      description: Start App
      tags:
        - containers
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
    delete:
      description: Stop App
      tags:
        - containers
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
  /staticsites/{site_id}:
    get:
      description: You can get the process of generating
      tags:
        - staticsites
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: the process of generating
          schema:
            $ref: '#/definitions/StaticsitesGetResponse'
    post:
      description: Start to generate the plblished site.
      tags:
        - staticsites
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
  /status:
    get:
      description: You can get the status of your account and shifter
      tags:
        - status
      responses:
        200:
          description: the process of generating
          schema:
            $ref: '#/definitions/StatusGetResponse'
  /generatehistory/{site_id}:
    get:
      description: You can get the history of generating in the project
      tags:
        - generatehistory
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: the history of generating
          schema:
            $ref: '#/definitions/GeneratehistoryGetResponse'
  /support:
    post:
      description: You can get the SSO endpoint for Zendesk.
      tags:
        - support
      responses:
        200:
          description: Get SSO Endpoint
          schema:
            $ref: '#/definitions/SupportPostResponse'
  /transactions/{site_id}:
    get:
      description: You can get the transfer amount for Shifter CDN
      tags:
        - transactions
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
        - name: start_month
          in: query
          type: integer
          description: 'Start month of the period you want to acquire the transfer amount ex: 201605'
        - name: range
          in: query
          type: integer
          description: 'Period for acquiring it (the month) ex: 12'
      responses:
        200:
          description: Get the transfer data
  /accounts/{username}:
    delete:
      description: You can delete your account
      tags:
        - accounts
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        200:
          description: Get the info
          schema:
            $ref: '#/definitions/CommonResponse'
  /archives:
    get:
      description: You can get the infomation of your archives
      tags:
        - archives
      parameters:
        - name: site_id
          in: query
          description: filter by using project ID
          type: string
      responses:
        200:
          description: Get Archives info
          schema:
            type: array
            items:
              $ref: '#/definitions/ArchivesGetResponse'
  /archives?task=getPublicArchive:
    get:
      description: You can get the infomation of the public archive
      tags:
        - archives
      responses:
        200:
          description: Get the archive info
          schema:
            type: array
            items:
              $ref: '#/definitions/ArchivesGetResponse'
  /archives?task=getDownloadUrl:
    get:
      description: You can get the download urls of your archives
      tags:
        - archives
      responses:
        200:
          description: Get the download urls
          schema:
            type: array
            items:
              $ref: '#/definitions/ArchivesGetDownloadUrlResponse'
  /archives?task=integration:
    post:
      description: Create new archive record and give you the url for uploading your archive
      tags:
        - archives
      parameters:
        - name: request
          in: body
          schema:
            properties:
              source:
                type: string
                description: infomation of data soirce
              site_id:
                type: string
                description: project ID
      responses:
        200:
          description: Get the uploading url
          schema:
            $ref: '#/definitions/ArchivesPostResponse'
  /archives/{archive_id}:
    put:
      description: Update your archive alias
      tags:
        - archives
      parameters:
        - name: archive_id
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArchivesPutRequest'
      responses:
        200:
          description: Success
    get:
      description: Get your archive info
      tags:
        - archives
      parameters:
        - name: archive_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Get your archive info
          schema:
            $ref: '#/definitions/ArchivesGetSingleResponse'
    delete:
      description: Delete your archive
      tags:
        - archives
      parameters:
        - name: archive_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
  /domains:
    get:
      description: You can get information of your domains registered in shifter
      tags:
        - domains
      parameters:
        - name: filter
          in: query
          description: If it is `acmValid`, you can only get certified domains
          type: string
      responses:
        200:
          description: information of your domains
          schema:
              "$ref": "#/definitions/DomainsGetResponse"
  /domains/{domain}:
    get:
      description: You can get the authentication information of the domain registered by the user
      tags:
        - domains
      parameters:
        - name: domain
          in: path
          required: true
          type: string
      responses:
        200:
          description: information of your domain
          schema:
              "$ref": "#/definitions/DomainsGetSingleResponse"
    put:
      description: Register the domain with Shifter and request SSL certificate
      tags:
        - domains
      parameters:
        - name: domain
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
              "$ref": "#/definitions/CommonResponse"
    delete:
      description: Delete SSL certificate and unregister to Shifter
      tags:
        - domains
      parameters:
        - name: domain
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
              "$ref": "#/definitions/CommonResponse"
    post:
      description: Attache your domain to Shifter CDN or Resend the approval mail of the SSL certificate
      tags:
        - domains
      parameters:
        - name: domain
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          description: "Set addToCloudFront to action statement and attache your domain to Shifter CDN. So resendValidationEmail to action statement and resend the approval mail of the SSL certificate. When addToCloudFront is specified, site_id becomes required, but in case of resendValidationEmail it is not required"
          schema:
            properties:
              action:
                type: string
              site_id:
                type: string
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/CommonResponse"
  /coupon/{code}:
    put:
      description: Register your coupon code
      tags:
        - coupon
      parameters:
        - name: code
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/CommonBodyResponse"
  /billings:
    get:
      description: You can get your billing infomation
      tags:
        - billing
      parameters:
        - name: test
          in: query
          description: if it is `false`, Strip run in the sandbox mode
          type: boolean
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/BillingGetResponse"
    post:
      description: add your billing infomation
      tags:
        - billing
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/BillingPostRequest"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/CommonBodyResponse"
  /netlify/auth/{site_id}:
    post:
      description: "add Netlify&apos;accesstoken to the project"
      tags:
        - netlifyAuth
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          description: "Netlify&apos;s accessToken"
          schema:
            properties:
              pat:
                type: string
      responses:
        200:
          description: Success
    get:
      description: "get your Netlify&apos;accesstoken in the project"
      tags:
        - netlifyAuth
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            properties:
              token:
                type: string
    delete:
      description: "remove Netlify&apos;Netlify from the project"
      tags:
        - netlifyAuth
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/CommonResponse"
  /netlify/deploy/{site_id}:
    post:
      description: "deploy the published site to Netlify"
      tags:
        - netlifyDeploy
      parameters:
        - name: site_id
          in: path
          required: true
          type: string
        - name: request
          in: body
          required: true
          description: if it is `TRUE`, deploy with the draft state. If it is `FALSE`, deploy with the published state.
          schema:
            properties:
              isDeploy:
                type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/CommonPayloadResponse"
definitions:
  LoginPostRequest:
    properties:
      username:
        type: string
      password:
        type: string
  LoginPostResponse:
    properties:
      AccessToken:
        type: string
  LoginErrorResponse:
    properties:
      message:
        type: string
        description: Invalid Username or Password
  ProjectsGetResponse:
    properties:
      site_id:
        type: string
        description: project ID
      site_name:
        type: string
        description: project name
      site_owner:
        type: string
        description: the owner of project
      update_time:
        type: string
        description: published date by Generator
      docker_url:
        type: string
        description: App Url
  ProjectsCloudFrontGetResponse:
    properties:
      statusCode:
        type: integer
        description: status code
      message:
        type: string
        description: response message
      data:
        type: object
        properties:
          id:
            type: string
            description: CloudFront ID
          status:
            type: string
            description: CloudFront Status
  ArtifactListResponse:
    properties:
      statusCode:
        type: integer
        description: status code
      message:
        type: string
        description: response message
      data:
        type: array
        items:
          properties:
            id:
              type: string
              description: Artifact ID
            status:
              type: string
              description: Artifact status
            created_at:
              type: string
              description: created date
  ArtifactCreateResponse:
    properties:
      statusCode:
        type: integer
        description: status code
      message:
        type: string
        description: response message
      data:
        type: object
        properties:
          site_id:
            type: string
            description: Project ID
          artifact_id:
            type: string
            description: Artifact ID
  ArtifactDeployResponse:
    properties:
      statusCode:
        type: integer
        description: status code
      message:
        type: string
        description: response message
      data:
        type: object
        properties:
          siteId:
            type: string
            description: Project ID
          artifactId:
            type: string
            description: Artifact ID
  ArtifactDeleteResponse:
    properties:
      statusCode:
        type: integer
        description: status code
      message:
        type: string
        description: response message
      data:
        type: string
        description: Artifact ID
  ProjectsSingleGetResponse:
    properties:
      ID:
        type: string
        description: project ID
      site_name:
        type: string
        description: project name
      stock_state:
        type: string
        description: project status
      update_time:
        type: string
        description: published date by Generator
      last_launched:
        type: string
        description: Last launched time by App
      access_url:
        type: string
        description: Generated Shifter domain.
      docker_url:
        type: string
        description: App Url
      domain:
        type: string
        description: Shifter CDN domain
      disk_usage:
        type: string
        description: Projects disk usage
      php_version:
        type: string
        description: Currently running WordPress PHP version.
      deploy_type:
        type: string
        description: Project deployment settings
  ProjectsPostRequest:
    properties:
      projectName:
        type: string
        description: project name
      phpVersion:
        type: string
        description: php version is used in the project
  ContainersPostRequest:
    properties:
      archive_id:
        type: string
  StaticsitesGetResponse:
    properties:
      percent:
        type: integer
        description: Progress rate of genetating
      sum_url:
        type: integer
        description: The total number of pages to be generated
      created_url:
        type: integer
        description: The number of pages already generated
      step:
        type: string
        description: Progress step  of genetating
      update_time:
        type: string
      owner:
        type: string
      message:
        type: string
      disk_usage:
        type: string
  StatusGetResponse:
    properties:
      maintenance:
        properties:
          message:
            type: string
          target:
            type: array
            items:
              type: string
          status:
            type: string
      user:
        properties:
          creditCardStatus:
            type: string
          upperLimitProjects:
            type: integer
          upperLimitArchives:
            type: integer
          upperLimitDomains:
            type: integer
  GeneratehistoryGetResponse:
    properties:
      Items:
        type: array
        items:
          properties:
            create_time:
              type: string
            update_time:
              type: string
            progress:
              type: string
            message:
              type: string
  SupportPostResponse:
    properties:
      ssoEndpoint:
        type: string
  CommonResponse:
    properties:
      statusCode:
        type: integer
      message:
        type: string
  CommonBodyResponse:
    properties:
      statusCode:
        type: integer
      body:
        type: string
  CommonPayloadResponse:
    properties:
      statusCode:
        type: integer
      payload:
        type: string
  ArchivesGetResponse:
    properties:
      archive_id:
        type: string
      archive_alias:
        type: string
      source:
        type: string
      site_id:
        type: string
      archive_owner:
        type: string
      archive_create_date:
        type: string
  ArchivesGetDownloadUrlResponse:
    properties:
      archive_id:
        type: string
      url:
        type: string
  ArchivesPostResponse:
    properties:
      archive_id:
        type: string
      url:
        type: string
  ArchivesPutRequest:
    properties:
      value:
        type: string
        description: new archive alias
  ArchivesGetSingleResponse:
    properties:
      Items:
        type: array
        items:
          properties:
            archive_id:
              type: string
            archive_alias:
              type: string
            archive_owner:
              type: string
            archive_create_date:
              type: string
  DomainsGetResponse:
    properties:
      Items:
        type: array
        items:
          properties:
            inuse:
              type: boolean
            acm_arn:
              type: string
            domain_owner:
              type: string
            domain:
              type: string
      Count:
        type: integer
      ScannedCount:
        type: integer
  DomainsGetSingleResponse:
    properties:
      Certificate:
        type: object
        properties:
          CertificateArn:
            type: string
          DomainName:
            type: string
          SubjectAlternativeNames:
            type: string
          DomainValidationOptions:
            type: string
          Serial:
            type: string
          Subject:
            type: string
          Issuer:
            type: string
          CreatedAt:
            type: string
          IssuedAt:
            type: string
          Status:
            type: string
          NotBefore:
            type: string
          NotAfter:
            type: string
          KeyAlgorithm:
            type: string
          SignatureAlgorithm:
            type: string
  BillingGetResponse:
    properties:
      statusCode:
        type: integer
      body:
        type: object
        properties:
          id:
            type: string
          created:
            type: string
          description:
            type: string
          card:
            type: object
            properties:
              id:
                type: string
              brand:
                type: string
              last4:
                type: string
              exp:
                type: string
          invoice:
            type: object
            properties:
              currency:
                type: string
              subtotal:
                type: string
              total:
                type: string
              amount_due:
                type: string
              date:
                type: string
              lines:
                type: string
  BillingPostRequest:
    properties:
      card_cvv:
        type: string
      card_exp_month:
        type: string
      card_exp_year:
        type: string
      card_number:
        type: string
      card_owner:
        type: string
      is_test:
        type: boolean
